<div class="cc_card">
    <img src="/images/bank/cc_card.png">
</div>
<div class="dc_card">
    <img src="/images/bank/dc_card.png">
</div>
<div class="coins">
    <img src="/images/bank/coins.png">
</div>
<div class="crown" id="crown_disapear">
    <img src="/images/bank/crown.png">
</div>
<div class="bank_name">
    Bank
</div>