<div class="row">
    <div>
        <img class="screen" src="/images/gameRoom.jpg">
    </div>
</div>
<div class="row cc_card">
    <img src="/images/bank/cc_card.png">
</div>
<div class="row dc_card">
    <img src="/images/bank/dc_card.png">
</div>
<div class="row coins">
    <img src="/images/bank/coins.png">
</div>
<div class="row crown" id="crown_disapear">
    <img src="/images/bank/crown.png">
</div>
<div class="bank_name">
    Bank
</div>