<button type="button" class="collapsible"> <img id="TextIcon" src="/images/TextChatIcon.JPG"></button>
<div id="content">
    <div id="chatPanel">
        <h2>Players Chat</h2>
        <div id="chat-window">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <input id="handle" type="text" placeholder="User Name" />
        <input id="message" type="text" placeholder="Message" />
        <button id="send">Send</button>
    </div>
</div>