<div class="player1Crown" id="player1Crown">
    <img src="/images/bank/crown.png">
</div>
<div class="player2Crown" id="player2Crown">
    <img src="/images/bank/crown.png">
</div>
<div class="player3Crown" id="player3Crown">
    <img src="/images/bank/crown.png">
</div>
<div class="player4Crown" id= "player4Crown">
    <img src="/images/bank/crown.png">
</div>
