<div class="row player1Crown">
    <img src="/images/bank/crown.png">
</div>
<div class="row player2Crown">
    <img src="/images/bank/crown.png">
</div>
<div class="row player3Crown">
    <img src="/images/bank/crown.png">
</div>
<div class="row player4Crown">
    <img src="/images/bank/crown.png">
</div>