<div class="hand-panel">
    <img id ="hand-panel-bg" src="/images/panelHand.png">
    <p id="hand-panel-cc-text">Player Hand</br>Character & Other Cards</p>
    <img id="info1" src="/images/characterCards/infoCard.jpg">
    <img id="info2" src="/images/characterCards/gameTermscard.jpg">
    <p id="hand-panel-dc-text">District Cards</p>
    <div id="hand-panel-dcs">
       
    </div>
</div>