<div class="pointer">
    <div id='pointer' class="player0Pointer">
      <img src="/images/pointer.png" />
    </div>
    <div id='pointer' class="player1Pointer">
      <img src="/images/pointer.png" />
    </div>
    <div id='pointer' class="player2Pointer">
      <img src="/images/pointer.png" />
    </div>
    <div id='pointer' class="player3Pointer">
      <img src="/images/pointer.png" />
    </div>
    <button id="changeTurn">Change Turn</button>
  </div>
  