<div id="selectionPanel">
    <div id="ccPanelBg">
        <img src="/images/selectionpanelBg.png">
    </div>
    <div id="cc1">
        <img id="cc1" src="/images/characterCards/CharacterCard_rear.jpg">
    </div>
    <div id="cc2">
        <img id="cc2" src="/images/characterCards/CharacterCard_rear.jpg">
    </div>
    <div id="cc3">
        <img id="cc3" src="/images/characterCards/CharacterCard_rear.jpg">
    </div>
    <div id="cc4">
        <img id="cc4" src="/images/characterCards/CharacterCard_rear.jpg">
    </div>
    <div id="cc5">
        <img id="cc5" src="/images/characterCards/CharacterCard_rear.jpg">
    </div>
    <div id="cc6">
        <img id="cc6" src="/images/characterCards/CharacterCard_rear.jpg">
    </div>
    <div id="cc7">
        <img id="cc7" src="/images/characterCards/CharacterCard_rear.jpg">
    </div>
    <div id="cc8">
        <img id="cc8" src="/images/characterCards/CharacterCard_rear.jpg">
    </div>
    <div id="cc9">
        <img id="cc9" src="/images/characterCards/CharacterCard_rear.jpg">
    </div>
    <div id="ccFaceUp1"> </div>
    <div id="ccFaceUp2"> </div>
    <div id="ccFaceUp3"> </div>
    <div id="ccFacedown"> </div>
    <div id="ccPanelBtn">
        <img src="/images/selectionPanelOKBtn.png">
    </div>
    
    </div>