<div id="selectionPanel2">
<div id="ccPanelBg">
    <img src="/images/selectionPanel.png">
</div>
<div id="cc0Selection1"></div>
<div id="cc1Selection1"></div>
<div id="cc2Selection1"></div>
<div id="cc3Selection1"></div>
<div id="cc4Selection1"></div>
<div id="ccPanelBtn2">
    <img src="/images/selectionPanel2btn.png">
</div>
<div id="ccPanelBtn3">
    <img src="/images/selectionPanel3btn.png">
</div>
</div>