<div id="selectionPanel3">
    <div id="ccPanelBg">
        <img id="ccPanelBg" src="/images/DistrictCoinSelection.png">
    </div>
    <div id="coinSP">
        <img  id="coinSP" src="/images/bank/coins.png">
    </div>

    <div id="districtSP">
        <img id="districtSP" src="/images/bank/dc_card.png">
    </div>
    <div id="ccPanelBtn">
        <img src="/images/selectionPanelOKBtn.png">
    </div>
    </div>