<html lang="en">

<head>

    <head>
        <%- include('partials/head',title) %>
    </head>

    <body>
        <!-- content inside the main class used only for lobby. When styling lobby page, lobby class can be used just for lobby page in css file. -->
        <main class="game-room">
            <div class="container">
                <%- include('partials/bank_components.ejs') %>
                <div class="row">
                    <div>        
                        <img  src="/images/gameRoom.jpg">
                                           
                    </div>                         
                </div>
                <div class="row">
                    <a href='#startGame'>
                        <img class="startGame" src="/images/startGame_button.png">
                        <div class="startGame font-weight-bold">Start Game</div>
                    </a>
                </div>
                <div class="row">
                    <button type="button" class="collapsible"> <img src="/images/TextChatIcon.JPG"></button>
                </div>
                <div id="content">
                    <div id="chatPanel">
                        <h2>Players Chat</h2>
                        <div id="chat-window">
                            <div id="output"></div>
                            <div id="feedback"></div>
                        </div>
                        <input id="handle" type="text" placeholder="User Name" />
                        <input id="message" type="text" placeholder="Message" />
                        <button id="send">Send</button>
                    </div>
                </div>   
                
            </div>
        </main>
    </body>

</html>
