<html lang="en">
<head>

    <head>
        <%- include('partials/head', title) %>
    </head>

    <body>
        <!-- content inside the main class used only for lobby. When styling lobby page, lobby class can be used just for lobby page in css file. -->
        <main class="game-room">
            <div class="container">
                <%- include('partials/bank_components.ejs') %>
                <%- include('partials/players.ejs') %>
                <div class="row">
                    <div>        
                        <img  src="/images/gameRoom.jpg">                   
                    </div>                         
                </div>
                <div class="row">
                    <a href='#startGame'>
                        <img class="startGame" src="/images/startGame_button.png">
                        <div class="startGame font-weight-bold">Start Game</div>
                    </a>
                </div>
            </div>
        </main>
    </body>
</html>
