<html lang="en">
    <head>
        <head>
            <%- include('partials/head',title) %>
        </head>
    </head>
    <body>
       <!-- content inside the main class used only for lobby. When styling lobby page, lobby class can be used just for lobby page in css file. -->      
       <main class="game-room"> 
            <div class="container">
                <div class="row">
                    <div>        
                        <img  src="/images/gameRoom.jpg">                   
                    </div>                         
                </div>
            </div>
        </main>
    </body>
       
</html>

