<html lang="en">

<head>

    <head>
        <%- include('partials/head',title) %>
    </head>
</head>

<body>
    <main class="game-room">
        <div class="container">
            <div class="row">
                <%- include('partials/gameplayerboard') %>
            </div>
        </div>
    </main>
</body>

</html>